{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'main_app/main.css' %}">
</head>


<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'fifa-home' %}"> Fifa App</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'fifa-home' %}">Home</a>
              <a class="nav-item nav-link" href="{% url 'fifa-about' %}">About</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
            {% if user.is_authenticated %}
              <a class="nav-item nav-link" href="#">Profile</a>
              <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
            {% else %}
              <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
              <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
            {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
            {% if messages %}
                {% for message in messages %}
            <div class="alert alert-{{message.tags}}">
                {{ message }}
            </div>
                {% endfor %}
            {% endif %}
          {% block content %}{% endblock %}
        </div>
         {% if user.is_authenticated %}
          <div class="col-md-4">
          <div class="content-section">
              <h2><strong>FIFA Positions</strong></h2>
            <h5><b>Please start by choosing your favorite players for each position and begin rating them.</b>
            </h5><p>
              <ul class="list-group">
              <li class="list-group-item list-group-item-light"><a href="{% url 'fifa-gk' %}"> Goalkeepers (GK)</a></li>
              <li class="list-group-item list-group-item-light"><a href="{% url 'fifa-st' %}">Strikers (ST)</a></li>
              <li class="list-group-item list-group-item-light"><a href="{% url 'fifa-cf' %}">Center Forwards (CF)</a></li>
              <li class="list-group-item list-group-item-light"><a href="{% url 'fifa-rw' %}">Right Wings (RW)</a></li>
              <li class="list-group-item list-group-item-light"><a href="{% url 'fifa-lw' %}">Left Wings (LW)</a></li>
              <li class="list-group-item list-group-item-light"><a href="{% url 'fifa-cam' %}">Center Attacking Midfielders (CAM)</a></li>
              <li class="list-group-item list-group-item-light"><a href="{% url 'fifa-cdm' %}">Center Defending Midfielders (CDM)</a></li>
              <li class="list-group-item list-group-item-light"><a href="{% url 'fifa-rm' %}">Right Midfielders (RM)</a></li>
              <li class="list-group-item list-group-item-light"><a href="{% url 'fifa-lm' %}">Left Midfielders (LM)</a></li>
              <li class="list-group-item list-group-item-light"><a href="{% url 'fifa-cm' %}">Center Midfielders (CM)</a></li>
              <li class="list-group-item list-group-item-light"><a href="{% url 'fifa-rwb' %}">Right Wing Fullbacks (RWB)</a></li>
              <li class="list-group-item list-group-item-light"><a href="{% url 'fifa-lwb' %}">Left Wing Fullbacks (LWB)</a></li>
              <li class="list-group-item list-group-item-light"><a href="{% url 'fifa-rb' %}">Right Fullbacks (RB)</a></li>
              <li class="list-group-item list-group-item-light"><a href="{% url 'fifa-lb' %}">Left Fullbacks (LB)</a></li>
              <li class="list-group-item list-group-item-light"><a href="{% url 'fifa-cb' %}">Center Fullbacks (CB)</a></li>
              </ul>
          </p>
          </div>
        </div>
          {% endif %}
      </div>
    </main>
        <!-- Footer -->
    <footer class="page-footer font-small blue">

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">©2020. Project by Piotr Senkow. Data borrowed from SoFIFA.com. FIFA series and all FIFA assets are property of EA Sports. This is for a school project please don't sue me.
      </div>
      <!-- Copyright -->

</footer>
<!-- Footer -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
</body>
</html>