{% extends "main_app/base.html" %}
{% load static %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}></li>
    {% endfor %}
</ul>
{% endif %}
<h1><strong>FIFA 20 Player Recommender System</strong></h1>
{% if user.is_authenticated %}
    <br>
    <h3> Welcome {{user.username}}! Here is a useful chart of all the positions.</h3>
    <img src="{% static "main_app/A046-1.jpg" %}" alt="My image">
<br><br><br><br><br>
<form>
<button type="button" class="btn btn-info btn-lg btn-block"><strong><u><a href="{% url 'fifa-recommend' %}">Recommend me some players!</a></u></strong>
</button>
</form>
{% else %}
    <h2>Please login or register.</h2>
{% endif %}
{% endblock content %}